<div
  class="flex flex-col h-screen w-full justify-center gap-10 items-center bg-[#efefef]"
>
  <img src="../../../assets/logo.png" class="h-20" alt="" />
  <div class="w-[80%] px-8 bg-white h-fit py-10 shadow-lg rounded-2xl flex">
    <!-- left -->
    <div class="flex flex-col items-center w-1/2">
      <div class="w-full h-1/5 text-center">
        <h1 class="font-bold text-2xl text-[#1e1e1e] mb-4">Criar conta</h1>
      </div>
      <span class="p-input-icon-right p-float-label w-fit my-4">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="username"
          aria-label="username"
          id="username"
          class="py-4 px-8 shadow-md w-96"
        />
        <label for="username">Username</label>
      </span>
      <span class="p-input-icon-right p-float-label w-fit my-4">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="username"
          aria-label="username"
          id="username"
          class="py-4 px-8 shadow-md w-96"
        />
        <label for="username">Username</label>
      </span>
      <span class="p-input-icon-right p-float-label w-fit my-4">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="username"
          aria-label="username"
          id="username"
          class="py-4 px-8 shadow-md w-96"
        />
        <label for="username">Username</label>
      </span>
      <span class="p-input-icon-right p-float-label w-fit my-4">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="username"
          aria-label="username"
          id="username"
          class="py-4 px-8 shadow-md w-96"
        />
        <label for="username">Username</label>
      </span>
    </div>
    <span class="w-[2px] h-full bg-[#1e1e1e]"></span>

    <!-- right -->
    <div class="flex flex-col items-center w-1/2">
      <div class="w-full h-1/5 text-center"></div>
      <span class="p-input-icon-right p-float-label w-fit my-4">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="username"
          aria-label="username"
          id="username"
          class="py-4 px-8 shadow-md w-96"
        />
        <label for="username">Username</label>
      </span>
      <span class="p-input-icon-right p-float-label w-fit my-4">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="username"
          aria-label="username"
          id="username"
          class="py-4 px-8 shadow-md w-96"
        />
        <label for="username">Username</label>
      </span>
      <div class="h-3/4 flex flex-col items-center">
        <div class="w-[70%] gap-4 flex items-center justify-center my-2 ml-[4px]">
          <p-checkbox [value]="checked" inputId="confirm" class="p-checkbox" />
          <label for="confirm" class="text-sm"
            >Ao clicar em criar conta voce aceita os <a href="" class="text-blue-600 hover:underline">termos de politica da nossa
            empresa.</a></label>
        </div>
        <button class="btn px-8 py-2 my-3 text-xl">Criar conta</button>
        <div class="text-center text-sm">
            <p>Já possui uma conta?</p>
            <a class="text-blue-600 cursor-pointer hover:underline" href="/login">Faça login</a>
          </div>
      </div>
    </div>
  </div>
</div>
